.advogados-socios{
	padding-bottom: 136px;
	background-color: #fff;

	.fundo{
		background-color: #fff;
	}	

	.card-title{
		font-family: $font-family-normal;
		font-weight: 300;
		font-style: italic;
		font-size: 23px;
	}

	.subtitulo{
		font-size: 23px;
		color: #000;
		font-style: italic;
	}

	.card{
		border: 0;
		font-family: $font-family-condensed;
		color: #666666;
		margin-left: 0 80px;
	}

	.card-body{
		border: none;
		
		.card-title{
			font-size: 30px;
			font-style: italic;
		}

		.card-text{
			margin-bottom: 20px;
			font-style: italic;
		}
	}
}

