.areas-atuacao{
	padding-top: 136px;
	padding-bottom: 136px;
	background-color: #fff;
	padding: 0 60px;


	.clearfix{
		height: 30px;
	}

	.collapse-atuacao{
		margin-left: 15px;
	}


	span::after{
		content: url(../img/arrow-item.png);
		margin-right: 10px;
	}

	p.title{
		font-size: 24px;
		color: #383838;
		text-decoration: none;
		font-family: $font-family-condensed;
		cursor: pointer;
	}

	.card{
		border: 0;
		font-family: $font-family-condensed;
		color: #666666;
	}

	.card-body{
		border: 1px solid #ccc;
		margin-bottom: 20px;

		.card-title{
			font-size: 30px;
			font-style: italic;
		}

		.card-text{
			margin-bottom: 20px;
			font-style: italic;
			font-size: 14px;
		}
	}
}



@media (max-width: 460px) {
	.areas-atuacao{
	padding: 0px;
}
}