.banner-logo{
	background: url(../img/bg.png) no-repeat center;

	height: 203px;

	img.logo{
		margin-top: 52px;
	}

}


/**************************************************
********* BANNER FRASE GEORGE JELLINEK
****************************************************/

.banner-frase-georg{
	background: url(../img/banner-georg.png) no-repeat center;
	padding-top: 100px;
	padding-bottom: 157px;
	background-color: #fff;
	height: 378px;
	
	p{
		font-size: 39px;
		color: #fff;
		font-family: $font-family-normal;
		font-weight: bold;
		font-style: italic;
		text-align: center;
	}

.bloco-azul{
		background: #001d2c;
		padding-top: 40px;
		padding-bottom: 40px;
		background-color: rgba(0,29,44,0.5);
		max-width: 989px;
		margin: 0 auto;
}

	span{
		color: #fff;
		font-family: $font-family-condensed;
		font-size: 21px;
		text-transform: uppercase;
		text-align: center;
		line-height: 10px;
	}
}

/**************************************************
********* BANNER ASSESORIA JURÍDICA
****************************************************/

.banner-assessoria{
	background: url(../img/banner-assessoria.png) no-repeat center;
	padding-top: 136px;
	padding-bottom: 136px;
	background-color: #fff;

	.titulo-assessoria{
		margin-left: 40px;
	}



	p{
		font-size: 44px;
		color: #fff;
		font-family: $font-family-condensed;
		font-weight: 700;
		line-height: 50px;
	}


}

/**************************************************
********* BANNER ÁREAS DE ATUAÇÃO
****************************************************/

.banner-areas-atuacao{
	background: url(../img/banner-areas-atuacao.png) no-repeat center;
	padding-top: 136px;
	padding-bottom: 136px;
	background-color: #fff;

	.texto-area{
		padding-top: 500px;
	}

	.titulo-areas-atuacao{
		margin-top: 200px;
		margin-left: 40px;
	}




	p{
		font-size: 50px;
		color: #fff;
		font-family: $font-family-condensed;
		font-weight: 700;
		line-height: 50px;
	}


}



/**************************************************
********* BANNER KNOW-HOW
****************************************************/

.banner-knowhow{
	background: url(../img/banner-know-how.png) no-repeat center;
	padding-top: 157px;
	padding-bottom: 157px;
	background-color: #fff;
	
	p{
		font-size: 43px;
		color: #fff;
		font-family: $font-family-normal;
		font-weight: 700;
		font-style: italic;
		text-align: center;
	}

.bloco-azul{
		background: #001d2c;
		padding-top: 60px;
		padding-bottom: 51px;
		background-color: rgba(0,29,44,0.5);
		max-width: 989px;
		margin: 0 auto;
}


}

/**************************************************
********* BANNER FOOTER
****************************************************/

.banner-footer{
	background: url(../img/banner-rodape.png) no-repeat center;
	background-color: #fff;
	padding-top: 50px;

	img.logo-rodape{
		margin-top: 40px;
		padding-left: 80px;
	}

	a.email{
		color:#ffffff;
		font-size: 15px;
		padding-left: 80px;
	}

	p{
		font-size: 23px;
		color: #fff;
		font-family: $font-family-normal;
		font-weight: 500;
		font-style: italic;
		text-align: left;
		
	}

	address.endereco-rodape{
		padding-bottom: 10px;
	}
	

	p.endereco{
			font-size: 15px;
			text-align: left;
		}


}

@media (max-width: 460px)   { 

	.banner-frase-georg{
		p{
			font-size: 26px;
		}
	}

	.banner-knowhow{
		p{
			font-size: 26px;
		}
	}

.banner-footer{
	padding-top: 60px;
	padding-bottom: 60px;

	.banner-footer p{
		font-size: 10px;
		text-align: center;
		padding-left: 20px;
	}

       	img.logo-rodape{
		margin-bottom: 30px;
	}


	address.endereco-rodape{
		padding-bottom: 10px;
		font-size: 10px;
		text-align: center;
	}
	

	p.endereco{
			font-size: 10px;
			text-align: center;
		}
    }
}