body{
	background-color: #333;
	padding-top: 60px; 
}

.fixed-top{
	max-width: 1250px;
	margin: 0 auto;
}

.container-box{
	max-width: 1250px;
	width: 100%;
	margin: 0 auto;
	background-color:#ffffff;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
}

p, strong{
	color: #666666;
}

	#mapa{
	height: 296px;
	}