footer{
	text-align: center;
	font-family: $font-family-normal;
	font-size: 13px;
	font-style: italic;
	background-color: #fff;
	padding-bottom: 20px;
	padding-top: 20px;


	.redes-sociais{
		margin-top: 50px;
		margin-bottom: 70px;
	}

	img.icon-social{
		margin-right: 30px;
	}
}

@media (max-width: 460px) {
	.banner-footer{
		padding-top: 30px;
		padding-bottom: 30px;


	address, p{
		text-align: center;
	}
	}
}