.frase-advogados{
	padding-top: 136px;
	padding-bottom: 136px;
	background-color: #fff;

	p{
		font-size: 19px;
		font-family: $font-family-condensed;
		margin: 0 60px;
	}
}

.frase-clientes{
	padding-top: 75px;
	padding-bottom: 75px;
	background-color: #fff;
	
	span.icon-adv{
		margin: 0 auto;
	}

	p{
		font-size: 19px;
		font-family: $font-family-condensed;
		margin-top: 46px;
		margin: 0 60px;
	}
}
