.box-shadow {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.05),
              0 4px 8px 0 rgba(0,0,0,.05);
             }
nav{
	background: #fff;



ul.navbar-nav{
	text-align: center;
	margin: 0 auto;

}

li{
  margin: 0 40px;
}

a.nav-link{
  text-decoration: none;
  font-size: 18px;
  color: #666666;
  font-family: $font-family-condensed;
  font-weight: 700;
  border-top: 2px solid #ffffff;
}

a.nav-link:hover, a.nav-link:focus{
  border-top: 2px solid #0096b8;
  text-decoration: none;
}

.active{
  border-top: 2px solid #0096b8;
}

a.menu-hamburguer{
	text-decoration: none;
}

.navbar-toggler-icon{
	background-image: url('../img/menu-hamburguer.png');
	width: 61px;
	height: 51px;
	border: 0;
}

}

@media (max-width: 992px) {
   nav{ 
    a.nav-link:hover, a.nav-link:focus{
    border-top: 2px solid #ffffff;
    text-decoration: none;
    }

  }
}
